<nav id="navbar" class="is-fluid" style="display: flex;">
    <div class="navbar-container is-fluid">
        <div class="navbar-brand">
            Agora Interview App
        </div>
    </div>
</nav>
