<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/main.css" rel="stylesheet" />
        <script src="/libs/axios.min.js"></script>
    </head>
    <body>
        {{> header }}
        <form action="/question/add" method="post">
            <input type="text" name="question" />
            <input type="text" name="answer" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
