<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/main.css" rel="stylesheet" />
    </head>
    <body>
        {{> header this}}
        {{#each interviews}}
            {{this.questions}}
        {{/each}}
    </body>
</html>