<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/main.css" rel="stylesheet" />
    </head>
    <body>
        {{> header }}
        <form onsubmit="doLogin">
            <input type="text" name="email" />
            <input type="text" name="password" />
            <input type="submit" name="submit-btn" />
        </form>
    </body>
</html>