<html>
    <head>
        <title>{{title}}</title>
        <script src="/libs/AgoraRTC-2.3.1.min.js"></script>
        <script src="/libs/axios.min.js"></script>
        <script src="/js/interview.js"></script>
        <link href="/css/main.css" rel="stylesheet" />
    </head>
    <body>
        <div id="video">
            <div id="agora_local"></div>
        </div>
    </body>
</html>
