<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/main.css" rel="stylesheet" />
        <script src="/libs/axios.min.js"></script>
    </head>
    <body>
        {{> header this}}
        <form class="form-wrapper" action="/login" method="post">
            <div class="form-heading">{{title}}</div>
            <input type="text" placeholder="Email" name="email" />
            <input type="text" placeholder="Password" name="password" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
