@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css");
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, white 0%, #e5e5f7 0%, #dfe9eb 100%); }

#video {
  margin: 0 20px; }
  #video #agora_local {
    width: calc(50vw - 50px);
    height: 72vh;
    background: #4a4a4a;
    margin: 24px; }

.is-fluid {
  display: flex;
  width: 100%; }

#navbar {
  display: flex;
  justify-content: center;
  height: 60px;
  box-shadow: 0 0 4px #868686;
  background: #fcfcfc; }
  #navbar .app-name {
    cursor: pointer; }
  #navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    align-items: center;
    font-size: 20px;
    margin-left: 64px;
    margin-right: 64px; }
    #navbar .navbar-container .alert {
      margin-bottom: 1px;
      height: 30px;
      line-height: 30px;
      padding: 7px 15px;
      top: 2px; }

ul, ol {
  margin: 0; }

ul {
  list-style: none;
  padding: 0; }

ul > li {
  padding-left: 12px;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1); }

ol > li {
  padding-left: 12px; }

.form-wrapper {
  margin: 24px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  background: #fcfcfc; }
  .form-wrapper .submit-q-btn {
    float: left;
    margin-left: 19px;
    margin-right: auto; }
  .form-wrapper > input {
    margin: 12px;
    max-width: 460px; }
  .form-wrapper .form-control.btn.btn-primary {
    max-width: 120px; }
  .form-wrapper .form-control.btn.btn-dark {
    max-width: 120px; }
  .form-wrapper .btn-social.btn-google {
    max-width: 220px; }
  .form-wrapper .form-btn-set {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between; }
  .form-wrapper > .form-heading {
    height: 45px;
    color: #4a4a4a;
    display: flex;
    padding: 0 12px;
    margin-bottom: 24px;
    align-items: center;
    width: 100%;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1); }
  .form-wrapper > .alert {
    width: 90%; }
  .form-wrapper .question-list {
    width: 90%; }
  .form-wrapper .question-list-item {
    width: calc(100% - 12px);
    margin: 6px; }
    .form-wrapper .question-list-item .custom-control.custom-checkbox {
      margin-bottom: 3px; }

.card {
  width: 350px;
  box-shadow: 1px 1px 3px #888;
  min-height: 450px;
  margin: 12px;
  border-radius: 3px;
  max-height: 600px;
  cursor: pointer; }
  .card:hover {
    box-shadow: 2px 2px 6px #888; }
  .card > .card-heading {
    background: #fcfcfc;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    padding: 12px; }
  .card .interview-url {
    white-space: pre-wrap;
    margin: 12px;
    min-height: 100px;
    word-wrap: break-word; }
  .card .interview-ques, .card .interview-questions-label, .card .interview-url-label {
    margin: 12px; }
  .card .interview-questions-label, .card .interview-url-label {
    font-weight: 800; }
  .card .questions-list {
    overflow-y: auto; }
    .card .questions-list > li {
      min-height: 36px;
      display: flex;
      align-items: center;
      box-shadow: 0 2px 4px rgba(10, 10, 10, 0.1); }
  .card .interview {
    margin-bottom: 0; }
  .card .interview-ques {
    background: #fcfcfc; }
  .card span {
    margin: 12px; }

.cards-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.interview-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(120deg, #f5f7fa 0%, #c3cfe2 100%); }

.chat {
  margin: 24px;
  width: calc(50vw - 50px);
  height: 72vh;
  background: #fafafa; }
  .chat .chat-header {
    padding: 12px;
    background: #eee;
    border-bottom: 2px solid #dddddd;
    color: #666; }
    .chat .chat-header > span {
      float: right; }
  .chat .message-thread {
    display: flex;
    flex-direction: column;
    overflow-y: auto; }
    .chat .message-thread .chat-bubble-wrapper {
      display: flex;
      align-items: center; }
    .chat .message-thread .chat-bubble {
      max-width: calc(100% - 40px);
      padding: 3px;
      margin: 3px;
      border-radius: 3px;
      min-height: 24px;
      white-space: pre-wrap;
      word-wrap: break-word;
      border: 2px solid black; }
  .chat .chat-composer {
    padding: 12px;
    position: relative;
    width: calc(50vw - 50px);
    bottom: -57vh;
    background: #eee;
    border-bottom: 2px solid #dddddd;
    color: #666; }
    .chat .chat-composer .ans-btn {
      float: right; }
