@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229,229,247,1) 0%, rgba(223,233,235,1) 100%);
}

#video {
    margin: 0 20px;
    #agora_local {
        width: calc(50vw - 50px);
        height: 72vh;
        background: #4a4a4a;
        margin: 24px;    
    }
}

.is-fluid {
    display: flex;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: center;
    height: 60px;
    box-shadow: 0 0 4px #868686;
    background: #fcfcfc;
    .app-name {
        cursor: pointer;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        max-width: 1220px;
        align-items: center;
        font-size: 20px;
        margin-left: 64px;
        margin-right: 64px;
        .alert {
            margin-bottom: 1px;
            height: 30px;
            line-height:30px;
            padding: 7px 15px;
            top: 2px
        }  
    }
}

ul, ol {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}
ul > li {
    padding-left: 12px;
    box-shadow: 0 1px 2px hsla(0,0%,4%,.1);
}

ol > li {
    padding-left: 12px;
}

.form-wrapper {
    margin: 24px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 3px;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1),0 0 0 1px hsla(0,0%,4%,.1);
    background: #fcfcfc;
    .submit-q-btn {
        float: left;
        margin-left: 19px;
        margin-right: auto;
    }
    > input {
        margin: 12px;
        max-width: 460px;
    }
    .form-control.btn.btn-primary {
        max-width: 120px;
    }
    .form-control.btn.btn-dark {
        max-width: 120px;
    }
    .btn-social.btn-google {
        max-width: 220px;
    }
    .form-btn-set {
        width: 100%;
        padding: 20px; 
        display: flex;
        justify-content: space-between;
    }
    > .form-heading {
        height: 45px;
        color: #4a4a4a;
        display: flex;
        padding: 0 12px;
        margin-bottom: 24px;
        align-items: center;
        width: 100%;
        box-shadow: 0 1px 2px hsla(0,0%,4%,.1);
    }
    > .alert {
        width: 90%;
    }
    .question-list {
        width: 90%;
    }
    .question-list-item {
        width: calc(100% - 12px);
        margin: 6px;
        .custom-control.custom-checkbox {
            margin-bottom: 3px;
        }
    }
}

.card {
    width: 350px;
    box-shadow: 1px 1px 3px #888;
    min-height: 450px;
    margin: 12px;
    border-radius: 3px;
    max-height: 600px;
    cursor: pointer;
    &:hover {
        box-shadow: 2px 2px 6px #888;
    }
    > .card-heading {
        background: #fcfcfc;
        box-shadow: 0 1px 2px hsla(0,0%,4%,.1);
        padding: 12px;
    }
    .interview-url {
        white-space: pre-wrap;
        margin: 12px;
        min-height: 100px;
        word-wrap: break-word;
    }
    .interview-ques, .interview-questions-label, .interview-url-label {
        margin: 12px;
    }
    .interview-questions-label, .interview-url-label {
        font-weight: 800;
    }
    .questions-list {
        overflow-y: auto;
        > li {
            min-height: 36px;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 4px hsla(0,0%,4%,.1);
        }
    }
    .interview {
        margin-bottom: 0;
    }
    .interview-ques {
        background: #fcfcfc;
    }
    span {
        margin: 12px;
    }
}

.cards-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.interview-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(120deg, #f5f7fa 0%, #c3cfe2 100%);
}

.chat {
    margin: 24px;
    width: calc(50vw - 50px);
    height: 72vh;
    background: #fafafa;
    .chat-header {
        padding: 12px;
        background: #eee;
        border-bottom: 2px solid #dddddd;
        color: #666;
        > span {
            float: right;
        }
    }
    .message-thread {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        .chat-bubble-wrapper {
            display: flex;
            align-items: center;
        }
        .chat-bubble {
            max-width: calc(100% - 40px);
            padding: 3px;
            margin: 3px;
            border-radius: 3px;
            min-height: 24px;
            white-space: pre-wrap;
            word-wrap: break-word;
            border: 2px solid black;
        }
    }
    .chat-composer {
        padding: 12px;
        position: relative;
        width: calc(50vw - 50px);
        bottom: -57vh;
        background: #eee;
        border-bottom: 2px solid #dddddd;
        color: #666;
        .ans-btn {
            float: right;
        }
    }
}